<% provide(:title, 'About') %> 

<h1>About</h1>

<p>
	This is the about page for the
	<a href="https://railstutorial.org">Ruby on Rails Tutorial</a>
	sample app.

	This is a sample app developed using the
	<a href="https://railstutorial.org/book">Rails Tutorial Book</a>

</p>